body{
    color: rgb(114, 97, 22);
    background: rgb(242, 247, 149);
    margin: 0px;
    font-family: "Permanent Marker", sans-serif;
}
header{
    border-bottom: solid 2px rgb(12, 14, 24);
    padding: 20px;
    font-size: 32px;
    color:rgb(241, 182, 20);
}

.chamada{
    background: white;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto{
    margin-right: 5%;
}
h1{
    font-size: 40px;
}
p{
    font-size: 20px;
}
.chamada-videos{
    display:flex;
    overflow: auto;
    gap: 10px;
}
.categoria{
    padding-left: 20px;
    padding-right: 20px;
}
